
//utils_variables
@import 'utils/variables';

// base
@import 'base/base';

//components
@import 'components/icon';
@import 'components/logo';
@import 'components/modal-window';


//layout
@import 'layout/header';
@import 'layout/solutions';
@import 'layout/advantages';
@import 'layout/we-are-doing';
@import 'layout/command';
@import 'layout/clients';
@import 'layout/portfolio';
@import 'layout/footer';