/* Webstudio navigation container */
.header-page {
    position: relative;
}

.header 
nav,
ul, 
li {
    display: inline-block;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background:#FFFFFF;
    height: 60px;
    justify-content: center;
    @media screen and (min-width: 768px) {
        height: 80px;
    }
    @media screen and (max-width: 767px) {
        justify-content: flex-start;
    }
    .header__desctop {
        display: flex;
        width: 1200px;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
    .header__mobile {
        width: 100%;
        display: none;
        justify-content: space-between;
        @media screen and (max-width: 768px){
            display: flex;
        }
    }
    div {
        padding: 0 15px;
        justify-content: space-between;
    }
    a {
        text-decoration:none;
        font-size: 14px;
        line-height: 1.14;
    }
    ul {
        padding-top: 32px;
        padding-inline-start: 0;
    }
    .header__links {
        padding-right: 56px;
    }

    .header__logo {
        padding-top: 23px;
        padding-bottom: 24px;
    }
}           

.header 
.header__contacts {
        padding-left: 56px;
}

/* navigation link */
.navigation {
    margin-right: 50px;
    color: var(--text-primery-color);
    position: relative;
    font-weight: 500;
    font-family: var(--main-font);
        &:hover {
            color: var(--text-secondary-color);
    }
}

.navigation__active::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    top: 43px;
    background-color: var(--text-secondary-color);
    transition: opacity var(--cubic-transition);
}

/* contacts link */
.contacts__link {
    color:#757575;
    padding-left: 50px;
    display: flex;
    align-items: center;
    padding-top: 0;
    span {
        padding-left: 10px;
        font-family: var(--main-font);
        font-weight: 500;
    }
    &:hover {
        color:var(--text-secondary-color);
    }
}

.contacts__link 
.icon-hover {
  display: none;
}

.contacts__link:hover 
.icon-normal {
    display: none;
}
 
.contacts__link:hover 
.icon-hover {
    display: block;
}
