// Webstudio
.logo__web {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color); 
}

.logo__studio {
    font-family:  var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.03em;
    color: #000000;
    @media screen and (max-width: 1199px){
        padding-right: 0;
    }
    @media screen and (min-width: 1200px){
        padding-right: 88px;
    }
}
.logo__webstudio {
    color: white;
}