/* modal-window */
.modal {
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    animation-name: show;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 750ms;
    animation-iteration-count: 1;
    }

.modal-window {
    cursor: auto;
    position: relative;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity:1;
    pointer-events: visible;
    transform: scale(1);
    animation-name: showWindow;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 750ms;
    animation-iteration-count: 1;

    // overflow-y: scroll;

    // @media (min-width:480px) {
    //     height: 609px;  
    //     max-width: 450px;
    //     width: 100%;
    //     position: absolute;   
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    animation-name: hide;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 750ms;
    animation-iteration-count: 1;
    .modal-window {
        transform: scale(0.1);
        animation-name: hideWindow;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-duration: 750ms;
        animation-iteration-count: 1;
    }
}

.data-modal-close {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
}

.data-modal-close 
.icon-hover {
    display: none;
}
.data-modal-close:hover 
.icon-normal {
    display: none;
}
.data-modal-close:hover 
.icon-hover {
    display: block;
}

.form-title {
    font-family: var(--main-font);
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primery-color);
    padding-top: 40px;
    padding-bottom: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color-modal-window);
    font-family:var(--main-font);
}   

.form-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color-modal-window);
}

.form-label-placeholder {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-input { 
    margin: 0;
    padding-left: 42px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    width: 448px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: none;
        &:focus {
            border: 1px solid #2196F3;
        }
}

.form-input, textarea {
    outline: none;
}

.icon-modal {
    position: absolute;
    display: inline-block;
    bottom: 11px;
    left: 15px;
    font-size: 1px;
    line-height: 1;
}

.icon-modal 
.icon-hover {
    display: none;
}
.form-input:focus + .icon-modal .icon-normal {
    display: none;
}
.form-input:focus + .icon-modal .icon-hover {
    display: block;
}

.form-comment {
    height: 138px;
    width: 448px;
    margin: 0 0 0 0;
}

.form-comment-input {
    padding: 12px 16px 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
        &:focus {
            border: 1px solid #2196F3;
        }
}

.checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
    cursor: pointer;
}

.icon-modal-check {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-modal-check .icon-hover {
    display: none;
}
.checkbox:checked + .icon-modal-check .icon-normal {
    display: none;
}
.checkbox:checked + .icon-modal-check .icon-hover {
    display: block;
}

.agree-box {
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    position: relative;
}

.checkbox-total {
    position: relative;
    margin-right: 23px;
    padding-top: 16px;
}

.agree {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-modal-window);
    font-family:var(--main-font);
}

.agreement {
    color: var(--text-secondary-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-family:var(--main-font);
    margin: 0 0 0 0;
}

.button-modal-window {
    width: 200px;
    height: 50px; 
    background: var(--text-secondary-color);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family:var(--main-font);
    letter-spacing: 0.06em;
    padding: 10px 55px 10px 55px;
        textarea {
            outline: none;
        }
}

@keyframes hide {
    0% {
        opacity: 1;
        visibility:visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes hideWindow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.1);
    }
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility:visible;
    }
}
@keyframes showWindow {
    0% {
        transform: scale(0.1);
    }
    100% { 
        transform: scale(1);
    }
}